<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
        <title>NOTHING</title>
        <link rel="icon" href="https://cdn.discordapp.com/attachments/1060591233761804398/1140033484577067058/Untitled.png">

        <title></title>

    </head>

    <body>

        <div class="navbar">
            <div class="navbar-button" onclick="redirectToURL('https://discord.gg/qrj6jpf6kN')">DISCORD</div>
            <div class="navbar-button" onclick="redirectToURL('https://www.youtube.com/channel/UCRQFmzitIzpZj7A4vb4Iivg')">YOUTUBE</div>
        </div>

        <div class="title-area">
            <div class="title text">
                WELCOME
            </div>
            <div class="sub-title text">
                to the page of nothing
            </div>
        </div>

        <div class="news-container">
            <div class="header">
                News
            </div>
            <div class="article-container">
                <div class="article article-left">Evil Geniuses se tento rok v CS:GO až překvapivě nedaří<br> <br> <br>Evil Geniuses se tento rok skutečně nedaří. Ale to, jak se moc jim proti nejlepším týmům ve hře nedaří, je až šokující a tak špatná čísla nejspíše nikdo neočekáva</div>
                <div class="article article-right">Policie vyšetřuje člověka, co Fakerovi vyhrožoval smrtí<br> <br> <br>Vyhrožoval mu tím že mu podřeže žíly <br> <br>Kolem sebe bude mít teď větší security dohled než měl doteď</div>
            </div>
        </div>

        <div class="code">
            5874
        </div>

    </body>
</html>
