<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles/index_new.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
        <title>NOTHING</title>
        <link rel="icon" href="https://cdn.discordapp.com/attachments/1060591233761804398/1140033484577067058/Untitled.png">

        <title></title>

    </head>

    <body>

        <div class="navbar">
            <div class="navbar-button" onclick="redirectToURL('https://discord.gg/qrj6jpf6kN')">DISCORD</div>
            <div class="navbar-button" onclick="redirectToURL('https://www.youtube.com/channel/UCRQFmzitIzpZj7A4vb4Iivg')">YOUTUBE</div>
        </div>

        <div class="title-area">
            <div class="title text">
                Simulator
            </div>
            <div class="sub-title text">
                Coming
            </div>
        </div>

    </body>
</html>
