@font-face {
    font-family: 'FreeRoad Bold';
    src: url('fonts/freeroad_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: #363636;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;

}

body {
    font-family: 'FreeRoad Bold', sans-serif;
    background-color: black;
    height: 170vh;
}

.navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    top: 0%;
    left: 100%;
    height: 5%;
    width: 15%;
    transform: translatex(-100%);
}

.navbar-button {
    display: flex;
    color: rgb(99, 99, 99);
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.navbar-button::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 35%;
    height: 4px;
    background-color: rgb(63, 63, 63);
    transform: translatex(-50%);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

.navbar-button:hover::after{
    background-color: rgb(95, 95, 95);
}

.navbar-button:hover{
    transform: translatey(-10%);
}

.title-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.text {
    display: flex;
    color: rgb(99, 99, 99);
    justify-content: center;
}

.title {
    flex-grow: 1;
    font-size: 100px;
    align-items: end;
}

.sub-title {
    flex-grow: 1;
    font-size: 25px;
    align-items: normal;
}

.news-container {
    position: absolute;
    display: flex;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    flex-direction: column;
}

.header {
    display: flex;
    flex-grow: 1;
    color: red;
    font-size: 64px;
    transform: translate(4%, 0);
    align-items: center;
}

.article-container {
    display: flex;
    flex-grow: 1;
    flex: 1 1 60%;
    flex-direction: row;
}

.article {
    display: flex;
    flex-grow: 1;
    color: rgb(100, 100, 100);
    align-items: start;
    font-size: 32px;
}

.article-left {
    max-width: 40%;
}

.article-right {
    transform: translate(15%, 0);
    max-width: 55%;
}

.code {
    position: absolute;
    display: flex;
    top: 170vh;
    left: 100%;
    width: 64px;
    height: 32px;
    transform: translate(-100%, 0);
    color: rgb(15, 15, 15);
    align-items: end;
    justify-content: end;
}
